<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>#CaBrighterFuture</title>
    <style>
        @font-face {
            font-family: 'Nexa Bold';
            src: url('../../public/fonts/nexa-bold-free-font/Nexa-Bold.otf') format('opentype');
        }

        :root {
            --font-family: 'Nexa Bold', sans-serif;
            --primary-color: #005baa; 
            --secondary-color: #0068cf; 
            --text-color: #333;
            --background-color: #f3f3f3;
        }

        body {
            font-family: var(--font-family);
            margin: 0;
            padding: 0;
            color: var(--text-color);
            background-color: var(--background-color);
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            background-color: var(--primary-color);
            color: #fff;
            padding-bottom: 20px;
        }

        img {
            margin-right: 20px;
            margin-bottom: 0; 
        }

        h1 {
            text-transform: uppercase;
            margin: 0;

        }

        nav {
            text-align: center;
            padding: 10px;
            font-family: var(--font-family);
            background-color: var(--secondary-color);
        }

        nav a {
            text-decoration: none;
            margin: 0 10px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }

        section {
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            background-color: #fff;
        }

        h2, h3 {
            margin-bottom: 20px;
            color: var(--primary-color);
        }

        iframe {
            max-width: 100%;
            height: 315px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }

        .text-wrapper {
            text-align: center;
            margin-top: 20px;
        }

        section.active-section {
            border: 2px solid var(--primary-color);
        }

        /* @media screen and (min-width: 768px) {
            .grid-container {
                grid-template-columns: repeat(2, 1fr);
            } */
        /* } */

        .button {
    padding: 20px 30px;
    text-decoration: none;
    font-weight: 700;
    border: 3px solid transparent;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-weight: 400;
    background-color: white;
    color: #054674;
    border-color: #054674;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer
}

.button:hover {
    background-color: #054674;
    color: white;
}
    </style>
</head>

<body>
    <header> 
        <div>
            <a target="_blank" href="https://www.ca.dk/">
        <img src="public/img/CA-studiepartner-svg/CA_Studiepartner_horisontal_rgb_hvid.svg" width="300" height="120"></div></a>
        <div>
            <h1 style="margin-top: 100px; position:sticky;">#CaBrighterFuture</h1>
        </div>
        <div></div>
        <div></div>
    </header>

    <nav>
        <a href="#section1">#CaBrighterFuture</a>
        <a href="#section2">Hvem er vi?</a>
    </nav>

    <section id="section1" class="active-section">
        <h2>#CaBrighterFuture</h2>
        <p>Velkommen til #CaBrighterFuture - din vej til en lysere fremtid! Vi er her for at styrke, inspirere og hj칝lpe unge business studerende som dig med at forme deres karrierevej.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oIU40uwGg2o?si=srixQZ4cD6HyY_Ax" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="grid-container">
            <div>
                <h3>Karriereressourcer og R친dgivning</h3>
                <p>F친 adgang til eksklusive ressourcer og personlig r친dgivning, der guider dig gennem karrierelandskabet. Vi st칮tter dine ambitioner og giver dig redskaberne til succes.</p>
            </div>
            <div>
                <h3>Inspirerende Medlemshistorier</h3>
                <p>L칝s fort칝llinger fra vores medlemmer, der har brugt CA A-kassens st칮tte til at n친 deres m친l. Lad dig inspirere til din egen succesrejse sammen med vores engagerede f칝llesskab.</p>
            </div>
        </div>
    </section>

    <section id="section2">
        <h2>Meld dig ind idag</h2>
        <div class="grid-container">
            <div>
                <h3>Netv칝rksmuligheder</h3>
                <p>Skab meningsfulde forbindelser med ligesindede fagfolk og erfarne mentorer. Del erfaringer og styrk din position p친 arbejdsmarkedet gennem vores netv칝rkssamfund.</p>
            </div>
            <div>
                <h3>Eksklusive Events og Aktiviteter</h3>
                <p>Deltag i s칝rlige arrangementer, workshops og tr칝ningssessioner, der er skr칝ddersyet til dine karrierem친l. F친 en forsmag p친 branchens realiteter og udvid dine f칝rdigheder.</p>
                <h3>칒konomisk Tryghed</h3>
                <p>Som medlem af CA A-kassen investerer du ikke kun i din karriere, men ogs친 i din 칮konomiske tryghed. F친 klarhed over, hvordan vi st칮tter vores medlemmer 칮konomisk, s친 du kan fokusere p친 din v칝kst uden bekymringer.</p>
                <p>Tag det f칮rste skridt mod en lysere fremtid med #cABrighterFuture. Bliv medlem i dag og v칝r med til at forme din vej til succes! 游</p>
            </div>
        </div>

        <br>
        <br>


        
            <p>Hvis du f칮ler at du har h칮rt nok, kan du melde dig ind her</p>
        <a href="https://www.ca.dk/formularer/indmeldelse-ca/" target="_blank" class="button">Meld mig ind</a>
        <p>ellers kan du l칝se mere om alle fordelene p친 vores hjemmeside her</p>
        <a href="https://www.ca.dk/studiepartner/" target="_blank" class="button">Se mere her</a>
    
    </section>

    <script>
        document.addEventListener('keydown', function (event) {
            const currentSection = document.querySelector('.active-section');
            let nextSection;

            if (event.key === 'ArrowDown') {
                nextSection = currentSection.nextElementSibling;
            } else if (event.key === 'ArrowUp') {
                nextSection = currentSection.previousElementSibling;
            }

            if (nextSection) {
                currentSection.classList.remove('active-section');
                nextSection.classList.add('active-section');
                nextSection.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>
</body>

</html>
